<h1 class="text-2xl font-semibold text-center mb-3">Página PEC Anterior</h1>
<figure>
  <picture>
    <!-- <source srcset="../../assets/images/blog/eco7.png" type="image/svg+xml"> -->
    <source srcset="../../assets/images/blog/eco7.png?as=webp" type="image/webp" />
    <img src="../../assets/images/blog/eco7.png" class="img-fluid " alt="foto principal economia" loading="lazy">
  </picture>
</figure>


<div class="container">

  <div class="parte">

      <div class="row my-5">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1 class="display-4">Economía circular en el ciclo del agua</h1>
        </div>
        
        <div class="col-lg-8 col-md-8 col-sm-12">
          <p class="lead">
            A tenor de dos hechos acaecidos esta semana, me he preguntado ¿Cuál es el papel de los técnicos en las administraciones públicas y 
            si la opinión pública estaría conforme con el mismo? y, lo que es más importante ¿Están los técnicos contentos con su papel secundario?
          </p>
        </div>
      </div>

    <hr>

    <div class="row my-3">
      <div class="col-sm-12 lista-blog">
        <ol class="lista-blog__list">
          <li class="lista-blog__item">
            <p class="h6">Primer hecho</p>
            <p>Un técnico preparó unos contratos menores para reparar varios desperfectos en la red de abastecimiento que presentaba pérdidas de agua debido 
            a su mal estado. Mientras, la red de abastecimiento seguirá perdiendo agua potable y socavando el terreno.</p>
          </li>
          <li class="lista-blog__item">
            <p class="h6">Segundo hecho</p>
            <p>convocado un concurso para la construcción de una Estación Depuradora de Aguas Residuales (EDAR) de más de 100.000 habitantes sobre la base de un proyecto ejecutado en el año 2017.</p>
          </li>
          <li class="lista-blog__item">
            <p class="h6">Tercer hecho</p>
            <p>La propuesta seleccionada en su día, era una aireación prolongada con un consumo de 1 Kwh/m3 de agua depurada. Han pasado mas de cinco años y lo que, antes parecía una buena solución, en los tiempos que corren es una solución indeseable, lejos de la economía circular de la que tanta gala hacemos en el Ciclo Integral del Agua (CIA).</p>
          </li>
        </ol>
      </div>
    </div>

    <hr />

    <h1 class="display-5 my-5">El saneamiento por vacío de FLOVAC en Santa Pola, finalista en los Premios a las Buenas Prácticas</h1>
    <p class="lead">La Federación Española de Municipios y Provincias (FEMP) organiza por primera vez los Premios a las Buenas Prácticas Locales por la Economía Circular, en los que se han reconocido 10 proyectos distinguidos en cinco categorías distintas.</p>    
  </div>

  <figure>
    <picture>
      <source srcset="../../assets/images/blog/eco3.jpg?as=webp" type="image/webp" />
      <img src="../../assets/images/blog/eco3.jpg" class="img-fluid image-blog" alt="foto articulo economia" loading="lazy">
    </picture>
    <figcaption>Muy lejos del objetivo, a la cola de la UE</figcaption>
  </figure>

  <div class="parte mb-3">
    <p class="lead">En la categoría de Gestión de consumo de agua se ha seleccionado como finalista al sistema de alcantarillado por vacío y planta solar fotovoltaica para cubrir los consumos del servicio integral del agua en Santa Pola (Alicante). Este sistema fue diseñado e instalado por Flovac España en 2006, como parte del proyecto de Hidraqua y en respuesta a los problemas que tenía el alcantarillado por gravedad previo, suponiendo la mayor obra realizada en Europa.</p>
    <p class="lead">Desde entonces Flovac ha seguido colaborando con Hidraqua para mantener las óptimas condiciones de la instalación, que también cuenta con un sistema de telecontrol que permite comprobar el buen funcionamiento de la red en tiempo real, reduciendo el tiempo de respuesta en las intervenciones y optimizando recursos humanos. </p>
    <p class="lead">Para Flovac es un orgullo que el Ayuntamiento de Santa Pola sea galardonado por esta instalación, considerada parte de las buenas prácticas de referencia para la FEMP en unos premios que buscan el compromiso y la promoción de la Economía Circular. Este modelo apuesta por los transportes limpios, la eficiencia energética y las soluciones innovadoras para conseguir un crecimiento verde. Los ganadores y finalistas serán premiados el próximo 4 de noviembre en el marco de las Jornadas de Economía Circular y Entidades Locales en San Fernando, Cádiz.</p>
    <a href="https://www.iagua.es/noticias/flovac/saneamiento-vacio-flovac-santa-pola-finalista-premios-buenas-practicas" target="_blank" role="button" class="btn btn-primary"><i class="fa fa-plus"></i> Mas Info</a>
    
  </div>

</div>