<h1 class="text-2xl font-bold text-center">Página PEC Anterior</h1>
<div class="grid-poster">
	<div class="intro">			
		<div class="text-center">
			<h1>Callosa Económica</h1>
			<h3>Webinar sobre economía circular</h3>
			<p class="lead">Reinventa lo local, economía circular que da vida al pueblo</p>
			<p class="lead">Nuestro pueblo, nuestro ciclo. Innovación local, impacto global.</p>
		</div>

		<div class="list-info text-center">
			<div class="column">
				<p class="my-1"><u>Ponencias:</u></p>
				<ul>
					<li>Quién y por qué la creó</li>
					<li>Qué es, principios y beneficios</li>
					<li>Poner en práctica en casa </li>
					<li>Economía circular en el negocio</li>
				</ul>
			</div>
			<div class="column">
				<p class="my-1"><u>Nuestras panaderías ofrecen:</u></p>
				<ul>
					<li>Pizza</li>
					<li>Coquetes</li>
					<li>Bocadillos</li>
					<li>Tortilla Española</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="casacultura"></div>	

	<div class="calendar text-center">
		<h3>Sesiones</h3>
		<div class="list-info">
            <div class="column">
                <p class="lead"><u>Junio</u></p>
                <ul>
					<li>6 de junio 9:00</li>
					<li>13 de junio 9:00</li>                    
				</ul>
            </div>
			<div class="column">
                <p class="lead"><u>Julio</u></p>
                <ul>
					<li>4 de julio 8:00</li>
					<li>18 de julio 8:30</li>                    
				</ul>
            </div>
		</div>
	</div>

	<div class="ayto"></div>

    

	<div class="matricula">
		<h3>Inscripciones</h3>
		<div>Gratis hasta el 28 de mayo</div>
		<div class="btw">Incluye almuerzos preparados por las panaderías del pueblo</div>
        <p>Inscripciones enviar por email a: <a href="mailto:ajfp2@uoc.edu"><i class="fa fa-envelope"></i> ajfp2@uoc.edu</a></p>
		<p>Para mas información visite: <a href="https://www.callosa.es">Ayuntamiento de Callosa d'en Sarrià</a><br /> O en la oficina de la casa de cultura de 8:30 - 13:30</p>
        <p></p>
	</div>

	<div class="table"></div>
	
</div>

