<h1 class="text-xl font-semibold text-center">Página con TailwindCSS</h1>

<h1 class="my-3 text-4xl font-bold text-center text-teal-800">Conferenciantes</h1>
<h2 class="text-gray-700 text-4xl text-center">Intenta no perderte ninguna</h2>

<div class="max-w-screen-xl mx-auto mt-5 sm:p-10 md:p-16">

    <div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-10">

        <!-- card 1 -->
        <include src="./views/pages/speak_card.html">
          {
          "nombre": "Yoana Alcalá Trejo",           
          "tipo": "Ponencia 1",
          "descripcion": "Grado en Administración y Dirección de Empresas (ADE) actualmente trabajo en SUMA.", 
          "fecha": "6 de junio a las 9:00",
          "imagen": "../../assets/images/ponentes/p2.jpg"
        }
        </include>
        
        <!-- card 2 -->
        <include src="./views/pages/speak_card.html">
            {
            "nombre": "Marcelo Rivero Ceballos",           
            "tipo": "Ponencia 2",
            "descripcion": "Grado en Finanzas y Contabilidad actualmente trabajo como asesor público.", 
            "fecha": "13 de junio a las 9:00",
            "imagen": "../../assets/images/ponentes/p4.jpg"
        }
        </include>

        <!-- card 3 -->
        <include src="./views/pages/speak_card.html">
            {
            "nombre": "Caren Roybal Maya",           
            "tipo": "Ponencia 3",
            "descripcion": "Doble grado en Economía y Matemáticas soy profesor de instituto y universidad.", 
            "fecha": "4 de julio a las 8:00",
            "imagen": "../../assets/images/ponentes/p5.jpg"
            }
        </include>


        <!-- card 4 -->
        <include src="./views/pages/speak_card.html">
            {
            "nombre": "Yoana Alcalá Trejo",           
            "tipo": "Ponencia 4",
            "descripcion": "Grado en Administración y Dirección de Empresas (ADE) actualmente trabajo en SUMA.", 
            "fecha": "18 de julio a las 8:30",
            "imagen": "../../assets/images/ponentes/p2.jpg"
            }
        </include>

        <!-- card 5 -->
        <include src="./views/pages/speak_card.html">
            {
            "nombre": "Alfonso J. Ferrando Puigcerver",           
            "tipo": "Organizador",
            "descripcion": "Estudiante de la UOC del Master Universitario en Desarrollo de sitios y aplicaciones web asignatura Herramientas HTML y CSS II.", 
            "fecha": "Todos los días",
            "imagen": "../../assets/images/ponentes/p1.jpg"
            }
        </include>
    </div>
</div>