@theme {
  --color-uoc-fondo: hsl(165, 1%, 95%);//#bada55;
  --color-uoc-corporate: hsl(199, 100%, 19%);//#004362;
  --color-uoc-masterbrand: hsl(188, 55%, 73%);
}

@layer components {
  .btn-primary {
    display: inline-flex;
    border-radius: 10px;
    background-color: theme(--color-uoc-corporate);
    padding: --spacing(5);
    padding-block: --spacing(3);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-uoc-masterbrand);
        color: var(--color-black);
      }
    }
  }
}

.active {
  @apply inline-flex py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500 justify-center;
}

.activeNO {
  @apply inline-flex py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

:is(.contact-form) :is(h1, h2, h3, h4, h5, h6, p) {   
	@apply text-teal-800 mb-2;
}