<footer>

  <div class="bg-uoc-corporate grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div class="mx-auto">
        <picture>
          <source srcset="./assets/images/logos/logoNegativo.png?as=webp&width=350" type="image/webp" />
          <img src="./assets/images/logos/logoNegativo.png?width=350" alt="Universitat Oberta de Catalunya" class="uoc-logo" />
        </picture>
      </div>
      <div class="mx-auto text-white font-medium">
        <p>Sitio Web Creado para el Ayuntamiento de Callosa d'en Sarrià para la economía circular.</p>
        <p>Alfonso J. Ferrando Puigcerver</p>
        <p>&copy; Junio 2025 UOC- Herramientas HTML CSS II</p>
      </div>
  </div>

</footer>
