@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: hsl(199, 100%, 19%);
$uoc-masterbrand: hsl(188, 55%, 73%);
$blanco: #fff;
$uoc-body: hsl(165, 0%, 82%);
$uoc-bg: color.scale($uoc-body, $lightness: 60%);

$mqMinWidth: 420px;
$mqMaxWidth: 768px;


@theme {
  --color-sky: #bada55;
  --color-midnight: #121063;
  --color-uoc-fondo:  #bada55;
  --color-uoc-corporate: #004362;
  --color-uoc-masterbrand: $uoc-masterbrand;
}

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-violet-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-violet-700);
      }
    }
  }
}